<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- send urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lazarillo)/urdf/lazarillo.xacro'" />

  <!-- Send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <param name="rate" value="30"/>
  </node>

  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="use_tf_static" value="false"/>
  </node>

  <!-- Launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lazarillo)/rviz/lazarillo.rviz" respawn="false"/>

  <!-- Rosserial -->
  <node name="arduino" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0"/>    

  <!-- Launch joy -->
  <node name="joy_node" pkg="joy" type="joy_node">
    <param name="deadzone" type="double" value="0.2"/>
  </node>

  <!-- Launch xbox control -->
  <node name="control_xbox" pkg="lazarillo" type="control_xbox.py"/>

  <!-- Launch -->
  <node name="odom_publisher" pkg="lazarillo" type="odom_pub.py"/>
  
</launch>